<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <%- include('../partials/searchBar.ejs') %>
        <ul>
            <% if (locals.usernames) { usernames.forEach((username) => { %>
                    <li>
                        <%= username.username %>
                    </li>
                <% }) %>
            <% } %>
        </ul>
        <button onclick="location.href='/new'">Create a user</button>
        <button onclick="location.href='/delete'">Delete all users</button>
    </body>
</html>